.env
.venv/
__pycache__/
.idx/
.streamlit/
env.yaml
*.egg-info/
*.dist-info/
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
.pytest_cache/
.coverage